body{
    background-color: black;
}

.row{
    height: auto;
    width: 1000px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 14em;
    background-color: black;
}
.col-2{
    color:white;
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    margin-right: 10px;
    
}
.container-fluid{
    display: flex;
    justify-content: center;
}